.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: calc(100% * 0.8);
  padding: 0 16px;
  margin: 0 auto 50px auto;
}
.card {
  margin-right: 6%;
  margin-bottom: 15px;
}
.card:nth-child(3n) {
  margin-right: 0;
}
.card-img-top {
  object-fit: cover;
  width: 110px;
  height: 90px;
}
.card-body {
  height: 60px;
  padding-top: 0px;
}
@media screen and (max-width:520px) {
  .cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: calc(100%);
    padding: 0 16px;
    margin: 0 auto 50px auto;
  }
}