header {
  display: none;
}
nav {
  display: none;
}
footer {
  display: none;
}
body {
  background-color: aqua;
}
main {
  text-align: center;
}
main .title {
  margin-top: 50px;
  color: #5d627b;
}
.container {
  margin: 50px auto 0 auto;
  padding: 14px 0;
  width: 450px;
  background-color: white;
  color: #5d627b;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.container h1 {
  margin-top: 15px;
}
.container form {
  height: 260px;
}
.container form li {
  margin-bottom: 30px;
  text-align: left;
}
.container form .form-password {
  margin-bottom: 50px;
}
.container form .btn {
  text-align: center;
  width: 260px;
  font-size: 24px;
}
.transition-container {
  margin: 0px auto 40px auto;
  padding: 14px 0;
  width: 450px;
  height: 80px;
  background-color: white;
  border-top: 3px solid rgb(226, 222, 222);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.22);
}
main .btn {
  width: 260px;
  font-size: 24px;
}
.switch-bar {
  position: relative;
}
.switch-bar::before, .switch-bar::after {
  position: absolute;
  content: "";
  border-top: 3px solid rgb(179, 179, 179);
  width: calc(100% * 0.2);
}
.switch-bar::before {
  top: 10px;
  left: calc(100% * 0.2)
}
.switch-bar::after {
  top: 10px;
  right: calc(100% * 0.2)
}