<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FRIRE</title>
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://kit.fontawesome.com/7972d050b5.js" crossorigin="anonymous"></script>
  {% block head %}{% endblock%}
</head>
<body>
  <header>
    <div class="header">
      <div class="wrapper">
        <div class="nav-left">
          <i class="fa-solid fa-bars"></i>
          <h1 class="page-title"><span>FRIRE</span></h1>
        </div><!-- /.nav-left -->
        <div class="nav-right">
          <a href=""><i class="fa-solid fa-circle-user"></i></a>
          <p>{{ username }}さん</p>
          <a href="/logout" role="button">ログアウト</a>
        </div><!-- /.nav-right -->
      </div><!-- /.wrapper -->
    </div><!-- /.header -->
  </header>
  <nav class="wrapper">
    <a href="/"><i class="fa-solid fa-circle-left"></i></a>
    <p>ホームへ</p>
  </nav>
  {% block body %}{% endblock%}
  <footer>
    <div class="wrapper">
      <h1 class="page-title"><span>FRIRE</span><br>一人暮らしのためのレシピ提案アプリ</h1>
      <p class="copyright">© yuki degawa 2022</p>
    </div><!-- /.wrapper -->
  </footer>
</body>
</html>