{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="static/css/fridgeItem.css">
{% endblock %}

{% block body %}
<h2 class="page-menu-title">食材一覧</h2>
<div class="cards">
  {% for post in posts %}
  <div class="card" style="width: 7rem; height: 10rem;">
    <img src="static/imgs/Noimg.png" class="card-img-top" alt="">
    <div class="card-body">
      <p class="card-text text-center" style="font-size: 12px;">{{ post.itemName }}<br>個数：{{ post.itemNum }}<br><span style="font-size: 5px;">{{ post.expiryDate.date() }}</span></p>
    </div>
  </div>
  {% endfor %}
</div><!-- /.cards -->
{% endblock %}